<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description-setvinlogistics" content="">
	<meta name="author-setvin" content="">
	<title>Load Management System</title>
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/admin-style.css" rel="stylesheet">

	<!-- Vendor Stylesheets -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

</head>

<body class="sb-nav-fixed">
	<div th:replace="fragments/topnav::topnavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="fragments/sidenav::navbar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h4 class="mt-30 page-title">Drivers</h4>
					<ol class="breadcrumb mb-30">
						<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item active">Drivers</li>
						<a th:href="@{/driver_add}" class="add-btn hover-btn ml-auto mr-md-0">Add New</a>
					</ol>
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="card card-static-2 mb-30">
								<div class="card-title-2">
									<h4>All Drivers</h4>
								</div>
								<div class="card-body-table">
									<div class="table-responsive">
										<table class="table ucp-table table-hover">
											<thead>
												<tr>
													<th style="width:60px">ID</th>
													<th>First Name</th>
													<th>Last Name</th>
													<th>Nickname</th>
													<th>ID Number</th>
													<th>Passport</th>
													<th>Nationality</th>
													<th>Date Of Birth</th>
													<th>License Expiry</th>
													<th>Medicals Expiry</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody th:each="driver : ${driverList}">
												<tr>
													<!-- <td><input type="checkbox" class="check-item" name="ids[]" value="10"></td> -->
													<td th:text="${driver.id}">1</td>
													<!-- <td>
														<div class="cate-img-6">
															<img src="images/avatar/img-1.jpg" alt="">
														</div>
													</td> -->
													<td th:text="${driver.firstname}">name</td>
													<td th:text="${driver.lastname}">last</td>
													<td th:text="${driver.nickname}">nick</td>
													<td th:text="${driver.idNumber}">12345</td>
													<td th:text="${driver.passportNumber}">12345</td>
													<td th:text="${driver.nationality}">South Africa</td>
													<td th:text="${driver.dob}">1984/01/01</td>
													<td th:text="${driver.licenceExpiry}">2021/01/01</td>
													<td th:text="${driver.medicalsExpiry}">2020/01/01</td>
													<td class="action-btns">
														<a th:href="@{/driver_view/{id}(id=${driver.id})}" class="view-shop-btn" title="View"><i class="fas fa-eye"></i></a>
														<a th:href="@{/driver_edit/{id}(id=${driver.id})}" class="edit-btn" title="Edit"><i class="fas fa-edit"></i></a>
														<a href="@{/driver_delete/{id}(id=${driver.id})}" class="delete-btn" title="Edit"><i class="fas fa-trash-alt"></i></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div th:replace="fragments/footer::footer"></div>
		</div>
	</div>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>
