<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description-setvinlogistics" content="">
	<meta name="author-setvin" content="">
	<title>Load Management System</title>
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/admin-style.css" rel="stylesheet">

	<!-- Vendor Stylesheets -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

</head>

<body class="sb-nav-fixed">
	<div th:replace="fragments/topnav::topnavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="fragments/sidenav::navbar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h2 class="mt-30 page-title">Loads</h2>
					<ol class="breadcrumb mb-30">
						<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item active">Loads</li>
						<a th:href="@{/load/add}" class="add-btn hover-btn ml-auto mr-md-0">Add New Load</a>
					</ol>
					<div class="row justify-content-between">
						<!-- <div class="col-lg-3 col-md-4">
							<div class="bulk-section mt-30">
								<div class="input-group">
									<select id="action" name="action" class="form-control">
										<option selected>Bulk Actions</option>
										<option value="1">Active</option>
										<option value="2">Inactive</option>
										<option value="3">Delete</option>
									</select>
									<div class="input-group-append">
										<button class="status-btn hover-btn" type="submit">Apply</button>
									</div>
								</div>
							</div>
						</div> -->
						<div class="col-lg-5 col-md-6">
							<div class="bulk-section mt-30">
								<div class="search-by-name-input">
									<input type="text" class="form-control" placeholder="Search">
								</div>
								<div class="input-group">
									<div class="input-group-append">
										<button class="status-btn hover-btn" type="submit">Search Loads</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="card card-static-2 mt-30 mb-30">
								<div class="card-title-2">
									<h4>All Loads</h4>
								</div>
								<div class="card-body-table">
									<div class="table-responsive">
										<table class="table ucp-table table-hover">
											<thead>
												<tr>
													<!-- <th style="width:60px"><input type="checkbox" class="check-all"></th> -->
													<th style="width:60px">ID</th>
													<th>Customer</th>
													<th>Driver</th>
													<th>Truck</th>
													<th style="width:20px">Order Number</th>
													<th>Load Date</th>
													<th>Delivery Date</th>
													<th>From</th>
													<th>To</th>
													<th>Status</th>
													<th class="text-right">Currency</th>
													<th class="money-right">Invoice Value</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody th:each="load: ${loadList}">
												<tr>
													<!-- <td><input type="checkbox" class="check-item" name="ids[]" value="11"></td> -->
													<td th:text="${load.id}">1</td>
													<td th:text="${load.customer}">customer</td>
													<td th:text="${load.driver}">driver nickname</td>
													<td th:text="${load.truck}">truck</td>
													<td th:text="${load.orderNumber}">Order Number</td>
													<td th:text="${#temporals.format(load.loadDate, 'dd MMM yyyy')}">Load Date</td>
													<td th:text="${#temporals.format(load.deliveryDate, 'dd MMM yyyy')}">Delivery Date</td>
													<td th:text="${load.fromSuburb + ', ' + load.fromCountry}">From</td>
													<td th:text="${load.toSuburb + ', ' + load.toCountry}">To</td>
													<td th:text="${load.status}"><span class="badge-item badge-status">Active</span></td>
													<td th:text="${load.currency}" class="text-right">Currency</td>
													<td th:text="${#numbers.formatDecimal(load.totalAmount, 0, 'DEFAULT', 2, 'POINT')}" class="money-right">Invoice Value</td>
													<td class="action-btns">
														<a th:href="@{/load/view/{id} (id=${load.id})}" class="view-shop-btn"><i class="fas fa-eye"></i> View</a>
														<a th:href="@{/load/edit/{id} (id=${load.id})}" class="edit-btn"><i class="fas fa-edit"></i> Edit</a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div th:replace="fragments/footer::footer"></div>
		</div>
	</div>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="js/scripts.js"></script>

	<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
	<script>paypal.Buttons().render('body');</script>
</body>
</html>
