<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description-setvinlogistics" content="">
	<meta name="author-setvin" content="">
	<title>Load Management System</title>
	<link href="../../css/styles.css" rel="stylesheet">
	<link href="../../css/admin-style.css" rel="stylesheet">

	<!-- Vendor Stylesheets -->
	<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

</head>

<body class="sb-nav-fixed">
	<div th:replace="fragments/topnav::topnavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="fragments/sidenav::navbar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid" th:object="${load}">
					<h2 class="mt-30 page-title">View Load</h2>
					<ol class="breadcrumb mb-30">
						<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item"><a th:href="@{/loads}">Loads</a></li>
						<li class="breadcrumb-item active">Load View</li>
					</ol>
					<div class="row">
						<div class="col-lg-4 col-md-5">
							<div class="card card-static-2 mb-30">
								<div class="card-body-table">
									<div class="shop-content-left pd-20">
										<div class="shop_img">
											<img src="images/shop.svg" alt="">
										</div>
										<div class="shop-dt-left" th:object="${customer}">
											<h4 th:text="${customer?.name}">Customer Name</h4>
											<span th:text="${customer?.address}">Address</span>
											<br><span th:text="${customer?.country}">Country</span></br>
										</div>
									</div>
								</div>
							</div>
							<div class="card card-static-2 mb-30" th:object="${customer}">
								<div class="card-body-table">
									<div class="shopowner-content-left pd-20">
										<div class="shopowner-dt-left">
											<h4 th:text="${customer.name}">John Doe</h4>
											<span>Customer Details</span>
										</div>
										<div class="shopowner-dts">
											<div class="shopowner-dt-list">
												<span class="left-dt">Phone</span>
												<span class="right-dt" th:text="${customer.phone}">+918437176189</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Email</span>
												<span class="right-dt" th:text="${customer.email}">g@gmail.com</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Address</span>
												<span class="right-dt" th:text="${customer.address}">Ludhiana, Punjab</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-7">
							<div class="card card-static-2 mb-30">
								<div class="card-body-table">
									<div class="shopowner-content-left pd-20">
										<div class="shopowner-dts mt-0">
											<div class="shopowner-dt-list">
												<span class="left-dt">Load Number :</span>
												<span class="right-dt" th:text="${load.id}">Load#</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Order Number</span>
												<span class="right-dt" th:text="${load.orderNumber}">Order123</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Load Date</span>
												<span class="right-dt" th:text="${#temporals.format(load.loadDate,'dd MMM yyyy')}">loadDate</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Delivery Date</span>
												<span class="right-dt" th:text="${#temporals.format(load.deliveryDate,'dd MMM yyyy')}">deliveryDate</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">From </span>
												<span class="right-dt" th:text="${load.fromAddress+', '+load.fromSuburb+', '+load.fromCountry}">from</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">To </span>
												<span class="right-dt" th:text="${load.toAddress+', '+load.toSuburb+', '+load.toCountry}">to</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Quantity</span>
												<span class="right-dt" th:text="${load.quantity}">Qty</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Rate</span>
												<span class="right-dt" th:text="${load.rate}">rate</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Total excl. VAT</span>
												<span class="right-dt" th:text="${subTotal}">subTotal</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">VAT</span>
												<span class="right-dt" th:text="${vat}">vat</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Total</span>
												<span class="right-dt" th:text="${total}">Total</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Clearing Agent</span>
												<span class="right-dt" th:text="${load.clearingAgent}">Clearing Agent</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Agent Contact</span>
												<span class="right-dt" th:text="${load.agentContact}">Agent Contact</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Agent Contact</span>
												<span class="right-dt" th:text="${load.agentPhone}">Agent phone</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Instructions</span>
												<span class="right-dt" th:text="${load.instructions}">instructions</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Description</span>
												<span class="right-dt" th:text="${load.description}">desc</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Exit Border</span>
												<span class="right-dt" th:text="${load.exitBorder}">border</span>
											</div>
											<div class="shopowner-dt-list">
												<span class="left-dt">Entry Border</span>
												<span class="right-dt" th:text="${load.entryBorder}">border</span>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div th:replace="fragments/footer::footer"></div>
		</div>
	</div>

	<!-- Javascripts -->
	<script src="../../js/jquery-3.4.1.min.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../../js/scripts.js"></script>

</body>
</html>
