<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description-setvinlogistics" content="">
	<meta name="author-setvin" content="">
	<title>Load Management System</title>
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/admin-style.css" rel="stylesheet">
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

</head>

<body class="sb-nav-fixed">
	<div th:replace="fragments/topnav::topnavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="fragments/sidenav::navbar"></div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h2 class="mt-30 page-title">Trucks</h2>
					<ol class="breadcrumb mb-30">
						<li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
						<li class="breadcrumb-item"><a th:href="@{/trucks}">Trucks</a></li>
						<li class="breadcrumb-item active">Add Truck</li>
					</ol>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="card card-static-2 mb-30">
								<div class="card-title-2">
									<h4>Add New Truck</h4>
								</div>
								<form th:action="@{/truck_add}" th:object="${truck}" method="post" enctype="multipart/form-data">
									<div class="card-body-table">
										<div class="news-content-right pd-20">
											<div class="form-group">
												<label class="form-label">Registration*</label>
												<input type="text" class="form-control" placeholder="Truck Registration" th:field="*{registration}" minlength="5" maxlength="20" required>
											</div>
											<div class="row">
												<div class="form-group col-md-6">
													<label class="form-label">Make*</label>
													<select type="text" id="make" name="make" class="form-control" th:field="*{make}" required>
														<option value="" disabled>--Select Make--</option>
														<option th:value="Volvo" th:text="Volvo">Volvo</option>
														<option th:value="MAN" th:text="MAN">MAN</option>
														<option th:value="Scania" th:text="Scania">Scania</option>
														<option th:value="Mercedez" th:text="Mercedez">Mercedez</option>
														<option th:value="Freightliner" th:text="Freightliner">Freightliner</option>
													</select>
												</div>
												<div class="form-group col-md-6">
													<label class="form-label">Model</label>
													<select type="text" id="model" name="model" class="form-control" th:field="*{model}" required>
														<option value="" disabled>--Select Make--</option>
														<option th:value="FH440" th:text="FH440">FH440</option>
														<option th:value="FH460" th:text="FH460">FH460</option>
														<option th:value="ST450" th:text="ST450">ST450</option>
														<option th:value="Actros" th:text="Actros">Actros</option>
														<option th:value="440HP" th:text="440HP">440HP</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-6">
													<label class="form-label">Vin Number*</label>
													<input type="text" class="form-control" placeholder="Enter Vin Number" th:field="*{vin}" required>
												</div>
												<div class="form-group col-md-6">
													<label class="form-label">Engine Number*</label>
													<input type="text" class="form-control" placeholder="Enter Engine Number" th:field="*{engineNumber}" required>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-md-6">
													<label class="form-label">Licence Disc Expiry</label>
													<input type="date" class="form-control" placeholder="2020/01/01" th:field="*{licenseDiscExpiry}" >
												</div>
												<div class="form-group col-md-6">
													<label class="form-label">Driver</label>
													<select type="text" id="driver" class="form-control"  th:field="*{driver}">
														<option th:each="driver: ${driverList}" th:value="${driver.id}" th:text="${driver.firstname + ' ' + driver.lastname}">Jonny Depp</option>
													</select>
												</div>
											</div>
											<button class="save-btn hover-btn" type="submit">Add New Truck</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<div th:replace="fragments/footer::footer"></div>
			</div>
		</div>

		<!-- Javascripts -->
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="js/scripts.js"></script>

	</body>
	</html>
